{
  "extends": "airbnb-base",
  "plugins": ["jest", "prettier"],
  "rules": {
    "prefer-destructuring": ["error", {
      "array": false,
      "object": true
    }, {
      "enforceForRenamedProperties": false
    }],
    "no-console": "off",
    "no-use-before-define": "off",
    "radix": "off"
  },
  "env": {
    "jest": true
  }
}
